@import '../../styles/variables';

.wrapper,
.error {
  padding: 10px;
  border-radius: 4px;
}

.wrapper {
  border: 1px solid $gray;
  font-size: 16px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $primary-color;
    transition: all 0.3s;
  }
}

.error {
  color: $error-color-font;
  background: $error-color;
  margin-bottom: 10px;
  font-size: 12px;
}
