@import '../../styles/variables';

.wrapper {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $gray;
  font-size: 16px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $primary-color;
    transition: all 0.3s;
  }
}
