@import '../../styles/variables';

.item {
  .messageContainer {
    padding: 5px 20px;
    border-radius: 4px;
    background: $message-color;
    max-width: 170px;
    float: left;
    text-align: left;
    margin: 5px 0;
  }

  .author,
  .value {
    display: block;
  }
}

.myMessage {
  float: right !important;
  text-align: right !important;
  background: $my-message-color !important;
}
