@import '../../styles/variables';

.primary,
.link,
.warning {
  border-radius: 4px;
  padding: 12px;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.primary {
  background: $secondary-color;
  color: $white;

  &:hover {
    background: $primary-color;
    transition: all 0.3s;
  }
}

.warning {
  background: $warn-color;
}

.link {
  text-decoration: none;
  background: $white;
  color: $dark-gray;
  padding: 0;

  &:hover {
    color: $primary-color;
    transition: all 0.3s;
    background: $white;
  }
}
