@import '../../styles/variables';

.wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .subTitle {
    color: $primary-color;
  }

  .input {
    margin-top: 80px;
  }

  .btn {
    margin-top: 20px;
    width: 100%;
  }
}
