.wrapper {
  width: 100%;
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .input {
    margin-right: 10px;
  }

  .btnsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      margin-top: 10px;
    }

    .btn {
      width: 48%;
    }
  }
}
